<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script th:src="@{/js/charCount.js}"></script>
  <title>新規投稿</title>
</head>
<body>
<div class="header-contents">
  <h1>新規投稿</h1>
</div>
<div class="main-contents">
  <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
    <span th:text="${errorMessage}"></span>
  </div>
  <form method="post" th:action="@{/message/add}" th:object="${formModel}">
    <div class="form-area">
      件名<br/>
      <input class="text-box" th:field="*{title}"/><br/>
      本文<br/>
      <textarea class="message-tweet-box" th:field="*{text}" size="20" maxlength="1500"></textarea><br/>
      <input type="hidden" name="maxLength" value="1000"/>
      <p class="charCount">0/1000文字</p>
      カテゴリー<br/>
      <input class="text-box" th:field="*{category}"/><br/>
      <input type="submit" value="投稿"/>
    </div>
  </form>
</div>
<div class="footer-contents">
  <a th:href="@{/}">戻る</a>
</div>
</body>
</html>