<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="styleSheet">
  <title>新規投稿</title>
</head>
<body>
<div class="header-contents">
  <h1>新規投稿</h1>
</div>
<div class="main-contents">
  <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
    <span th:text="${errorMessage}"></span>
  </div>
  <form method="post" th:action="@{/add}" th:object="${formModel}">
    <div class="form-area">
      件名<br/>
      <input th:field="*{title}"/><br/>
      本文<br/>
      <textarea class="tweet-box" th:field="*{text}" size="20" maxlength="200"></textarea><br/>
      カテゴリー<br/>
      <input th:field="*{category}"/><br/>
      <input type="submit" value="投稿"/>
    </div>
  </form>
</div>
<div class="footer-contents">
  <a th:href="@{/}">戻る</a>
</div>
</body>
</html>