<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/delete.js}"></script>
    <script th:src="@{/js/charCount.js}"></script>
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>掲示板</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト" />
    </form>
    <div th:if="${loginDepartmentId} == '1'">
        <a th:href="@{/admin}">
            <button class="admin-button" type="button">ユーザー管理</button>
        </a>
    </div>
</div>
<div class="main-contents">
    <div class="errorMessages" th:each="errorMessage : ${errorMessages}">
        <span th:text="${errorMessage}"></span>
    </div>
    <a th:href="@{/new}">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="filter">
        <form method="get">
            投稿日
            <input name="start" type="date" th:value="${start}" />
            ～
            <input name="end" type="date" th:value="${end}"/>
            カテゴリ
            <input name="category" th:value="${category}"/>
            <input type="submit" value="絞込"/>
        </form>
    </div>
    <div class="message-icon" th:each="message : ${messages}">
        <div class="title">
            件名 : <span th:text="${message.title}"/>
        </div>
        <div class="text">
            本文 : <pre><span th:text="${message.text}"/></pre>
        </div>
        <div class="category">
            カテゴリ : <span th:text="${message.category}"/>
        </div>
        <div class="date">
            投稿日時 : <span th:text="${#temporals.format(message.createdDate, 'yyyy/MM/dd HH:mm:ss')}"/>
        </div>
        <div class="name">
            投稿者 : <span th:text="${message.name}"/>
            <br/>
        </div>
        <div class="delete-button">
            <form th:action="@{/message/delete/{id}(id=${message.id})}" th:if="${message.userId} == ${loginUserId}" th:method="delete">
                <input type="hidden" name="deleteContent" value="投稿件名"/>
                <input type="hidden" name="deleteInfo" th:value="${message.title}"/>
                <input class="delete" type="submit" value="削除"/>
            </form>
        </div>
        <div class="comment-icon" th:each="comment : ${comments}" th:if="${comment.messageId} == ${message.id}">
            <div class="text">
                コメント : <pre><span th:text="${comment.text}"/></pre>
            </div>
            <div class="date">
                コメント日時 : <span th:text="${#temporals.format(comment.createdDate, 'yyyy/MM/dd HH:mm:ss')}"/>
            </div>
            <div class="name">
                コメント者 : <span th:text="${comment.name}"/>
                <br/>
            </div>
            <div class="delete-button">
                <form th:action="@{/comment/delete/{id}(id=${comment.id})}" th:if="${comment.userId} == ${loginUserId}" th:method="delete">
                    <input type="hidden" name="deleteContent" value="コメント"/>
                    <input type="hidden" name="deleteInfo" th:value="${comment.text}"/>
                    <input class="delete" type="submit" value="削除"/>
                </form>
            </div>
        </div>
        <form method="post" th:action="@{/comment/add}" th:object="${formModel}">
            <div class="form-area">
                <label>コメント内容</label>
                <div class="errorMessages" th:each="errorMessage : ${commentErrorMessages}" th:if="${formMessageId} == ${message.id}">
                    <span th:text="${errorMessage}"></span>
                </div>
                <input type="hidden" name="messageId" th:value="${message.id}"/>
                <textarea class="tweet-box" th:field="*{text}" size="20" maxlength="750"></textarea><br/>
                <input type="hidden" name="maxLength" value="500"/>
                <p class="charCount">0/500文字</p>
                <input type="submit" value="投稿"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>